<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
    }
</style>

<nav>
    <ul>
        <li>
            <img src="{{ asset('images/static/sortircom.png') }}" alt="Logo Sortir.com" style="display:inline-block;max-height: 80px;object-fit: contain"/>
        </li>
        <li><a href="{{ path('app_homepage') }}">Accueil</a></li>
        <li><a href="{{ path('app_sortie_index') }}">Sorties</a></li>
        {% if app.user %}
            <li><a href="{{ path('app_profil', {id:app.user.id}) }}">Mon profil</a></li>
            {% if is_granted('ROLE_ADMIN') %} <li><a href="{{ path('admin') }}">Admin</a></li> {% endif %}
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
            <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
        {% endif %}
    </ul>
</nav>