{% extends 'base.html.twig' %}

{% block title %}Profil de {{ userData.pseudo }}{% endblock %}

{% block body %}

<div class="f-form">
    <div class="f-head">
        <img src="{{ vich_uploader_asset(userData, 'profilePictureFile') }}" alt="Image manquante"/>
        <h1>{{ userData.pseudo }}</h1>
    </div>
    <div class="f-inline">
        <label>Nom :</label>
        <p>{{ userData.nom }}</p>
    </div>
    <div class="f-inline">
        <label>Prénom :</label>
        <p>{{ userData.prenom }}</p>
    </div>
    <div class="f-inline">
        <label>Téléphone :</label>
        <p>{{ userData.telephone }}</p>
    </div>
    <div class="f-inline">
        <label>E-Mail :</label>
        <p>{{ userData.email }}</p>
    </div>
    <div class="f-inline">
        <label>Campus :</label>
        <p>{{ userData.campus ?? 'Non-associé' }}</p>
    </div>
    <div class="f-inline f-button-container">
        <a class="f-button f-button-secondary" href="{{ path('app_homepage') }}">&#10094; Retour</a>
        {% if userData.id == app.user.id %}
            <a class="f-button" href="{{ path('app_profil_edit') }}">Modifier son profil</a>
        {% endif %}
    </div>
</div>
{% endblock %}
