{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h2>Filtrer les sorties</h2>
    {{ form_start(form) }}
    <button>Seacrehr</button>
    {{ form_end(form) }}
    <table class="table">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
                <td>{{ sortie.participants|length ~ '/' ~ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat }}</td>
                <td>{{ sortie.participants.contains(app.user) ? "Oui" : "Non" }}</td>
                <td>{{ sortie.organisateur.getFullname }}</td>
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    {% if app.user == sortie.organisateur %}
                        <span> - </span>
                        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                        {% if sortie.etat == "Créée" %}
                            <span> - </span>
                            <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Publier</a>
                        {% elseif sortie.etat == "Ouverte" %}
                            <span> - </span>
                            <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Annuler</a>
                        {% endif %}
                    {% else %}
                        {%
                            if not sortie.participants.contains(app.user)
                            and date(sortie.dateLimiteInscription) > date()
                            and sortie.etat == "Ouverte"
                            and sortie.participants|length < sortie.nbInscriptionMax
                        %}
                            <span> - </span>
                            <a href="{{ path('app_sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                        {% elseif sortie.participants.contains(app.user) %}
                            <span> - </span>
                            <a href="{{ path('app_sortie_desinscription', {'id': sortie.id}) }}">Se désister</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Il n'y a pas de sorties de prévues</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sortie_new') }}">Create une sortie</a>
{% endblock %}
