{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}

{% block body %}
    <div class="f-form">
        <div class="f-head">
            <h1>Ajouter une nouvelle sortie</h1>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="f-sublink">
            <label>Il manque un lieu ?</label>
            <a href="{{ path('app_lieu_add') }}">Ajoutez le !</a>
        </div>
        <div class="f-button-container">
            <a class="f-button f-button-secondary" href="{{ path('app_sortie_index') }}">Annuler</a>
            <button class="f-button" type="submit">Créer</button>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
