{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Sortie</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom de la sortie :</th>
            <td>{{ sortie.nom }}</td>
        </tr>
        <tr>
            <th>Date et heure de la sortie :</th>
            <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
        </tr>
        <tr>
            <th>Date limite d'inscription :</th>
            <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y H:i') : '' }}</td>
        </tr>
        <tr>
            <th>Nombre de places :</th>
            <td>{{ sortie.nbInscriptionMax }}</td>
        </tr>
        <tr>
            <th>Durée :</th>
            <td>{{ sortie.duree }} minutes</td>
        </tr>
        <tr>
            <th>Description et infos :</th>
            <td>{{ sortie.infosSortie }}</td>
        </tr>
        <tr>
            <th>Campus :</th>
            <td>{{ sortie.campus.nom }}</td>
        </tr>
        <tr>
            <th>Lieu :</th>
            <td>{{ sortie.lieu }}</td>
        </tr>
        <tr>
            <th>Rue :</th>
            <td>{{ sortie.lieu.rue }}</td>
        </tr>
        <tr>
            <th>Code postal :</th>
            <td>{{ sortie.lieu.ville.codePostal }}</td>
        </tr>
        <tr>
            <th>Latitude :</th>
            <td>{{ sortie.lieu.latitude }}</td>
        </tr>
        <tr>
            <th>Longitude :</th>
            <td>{{ sortie.lieu.longitude }}</td>
        </tr>
        </tbody>
    </table>
    <div
            style="height: 500px;"
            {{ stimulus_controller('leaflet', {
                latitude: sortie.lieu.latitude,
                longitude: sortie.lieu.longitude,
            }) }}
    >

    </div>
    <h2>Liste des participants inscrits</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in sortie.participants %}
            <tr>
                <td>
                    <a href="{{ path('app_profil', {id:sortie.organisateur.id}) }}">
                        {{ participant.pseudo }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_profil', {id:sortie.organisateur.id}) }}">
                        {{ participant.getFullname }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
